<form ng-submit="controller.editClinic(id)">
    <label>
        Specialty
        <input ng-model="controller.clinic.specialty" placeholder="Specialty" type="text" />
    </label>
    <label>
        Shift
        <input ng-model="controller.clinic.shift" placeholder="Shift" type="text" />
    </label>
    <label>
        Insurance
        <input ng-model="controller.clinic.insurance" placeholder="Insurance" type="text" />
    </label>
    
        <input type="submit" value="OK" class="btn-primary" />
</form>